 <section class="main-header">
  <img src="<%= asset_path "symbol.png" %>">
 </section>
 <section class="about">
  <h1>About Twitter</h1>
  <p>
   このサイトはテスト用アプリです。<br>
   twitter風に作成され投稿機能を実装させております。
  </p>
 </section>
 <section class="world container-fluid">
  <div class="row">
  <h1>World Network</h1>
   <div class="world-image">
    <div class="col-md-12 col-sm-12">
     <img src="<%= asset_path "worldmap.png" %>">
     <p>世界と繋がりつぶやこう</p>
    </div> 
   </div>
  </div> 
 </section>
 